/* setting basic css */
*,*::before,*::after {
    margin: 0;
    padding: 0;
    /* hack css cho cac trinh duyet */
    /* chrome - safari */
    -webkit-box-sizing: border-box;
    /* firefox */
    -moz-box-sizing: border-box;
    /* Microsoft CSS */
    -ms-box-sizing: border-box;
    /* Opera */
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /* 1rem = 10px */
}
body {
    font-family: 'Lato', sans-serif;
    line-height:1;
    font-weight: 400;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
input, textarea, button {
    outline: none;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
}
/* dinh nghia cac bien css dung chung */
:root {
    --primary-color: #64c29e;
    --heading-color: #4d4959;
    --text-color: #848789;
    --bg-light: #f7f7f7;
    --bg-white: #ffffff;
    --bg-dark: #282f35;
}
/* end setting basic css */

.wrapper {
    max-width: 160rem;
    margin: 0 auto;
}

/* css for header */
.header {
    height: 80rem;
    background-image: url('../images/logo-yebo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.nav {
    margin-top:3.5rem;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
}
/* css cho dau . trong nav */
.nav__item:first-child::after, .nav__item:nth-child(4)::after {
    content: ".";
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
}
.nav__link {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: var(--heading-color);
    font-weight: 700;
    font-size: 1.3rem;
}